body {
    background-color: #333;
}

li {

    color: green;
}

ul strong {
    color: white;
}

.ingredientes-faltantes {
    color: red;
}

#ingredientes-secreto {
    color: blue;
}

/* selector de atributo */
/* especifico */
/* img [src="arrozleche.jpg"] {
    width: 100%;
} */

/* termina en 
img[src$="jpg"] {
    width: 100%;
}
*/
/* comienza con */
img[src^="arrozleche"] {
    width: 100%;
}

/* seletor adyacente */
h1+p {
    color: blue;
}

/* selector de hijo directo */
p > i{
    color: red;
}

/* selector de hermanos generales */
h1 ~ p{
    color: yellow;
}